
/*MARKET VENDORS & GUEST PAGE STYLING*/
body{
Margin:0;
padding:0;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: seashell;
color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background-color: #3b5c44;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid rgb(46, 84, 46);
}

.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.navlinks{
    list-style: none; 
    display: flex;
    gap: 36px;
}

.navlinks a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    transition: color 0.2s;
}
.navlinks a:hover{
    color: black;
}
                                                                    /* food section*/
.vendors h2{ 
font-size: px;
margin:0;
}

.vendors{
margin:0;
height:100px;
width:100%;  
background-color: seashell;
grid-column: auto;
text-align: center;
/*top:0;*/
z-index: 1000;
position: relative;
min-height: 200vh;
max-width: 218vh;
overflow: hidden;
padding:40px 20px 0 ;
/*border:2px solid red;*/
}

 
.vendors .bg-video1{
    display: block;
position: absolute;
Object-fit:cover;
top:-20px;
left:0;
Width:100%;
height:100%;
z-index: -1;
opacity: 0.7;
}


.sticky-Heading{
/*Margin:90px;*/
text-align: center;
font-size: 45PX;
position:sticky;
z-index:-1;
top:0;
Color: #3b5c44;
}

#intro{
text-align: center;
margin:0;  
}

main{
/*padding: 20px;*/
}

section{
margin-bottom:30px;
}
.grid{
display: flex;
flex-wrap: wrap;
gap: 20px;
list-style: none;
justify-content: center;}

.Card{
width: 300px;
margin: 20px;
 background-color: #3b5c44;
padding: 20px;
border-radius: 15px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
justify-content: center;

}
.Card:hover{
transform: translateY(-10px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.Card img{
object-fit:cover;
width:100%;
height:180px;
margin-top:8px;

}
.Card p{
margin:0;
text-align:left;
}

.Card h3{
text-align:center;
}

Ul#menu{
padding-left: 4px;
font-size: 14px;
list-style:circle;
justify-content: space-between;
text-align: left;

}

nav.Socials a{
Margin-right: 20px;
font-size: 14px;
text-decoration:none;
color: black;
justify-content: space-between;
text-align:center;
}

                                                                        /*end of food section*/

.performers-container h2{
position:relative;
/*Margin:50px;*/
text-align: center;
font-size: 50PX;


}

.performers-container{
grid-template-columns: repeat(3,1fr);
display: flex;
gap: 20px;
/*margin-top: 15%;*/
justify-content: center;
background-color: seashell;

}

#kujenga{
    align-items: start;
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: #3b5c44 0px 5px 15px;
}

#Shekhinah{
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: #3b5c44 0px 5px 15px;
}

#shekinah:hover{
transform: translateY(-10px);
transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

#Jiavan{
    width: 100%;
    height: 230px;
    object-fit: cover;
    box-shadow: #3b5c44 0px 5px 15px;
}

.performers{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color:  #3b5c44;;
    padding: 5px;
    }
/*STORES PAGE STYLING*/

.stalls.body{
    margin:0;
    background-color: #3b5c44;
}
.stores-container{
Display:Grid;
grid-template-rows:  repeat(3,1fr);
gap: 0;
justify-content: center;
min-height: 100vh;
margin:0;
padding:60px 20px;
/*border:2px solid red;*/
overflow: auto;
}

.Store1, .Store2, .Store3{
background-color: seashell;
padding: 5px;
Width:590px;
height:590px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
justify-content: center; 
}

.Store1:hover, .Store2:hover, .Store3:hover{
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.Store1, .Store2, .Store3 h3{
    text-align: center;
    font-size: 30px;
    color: #3b5c44;

}

.description{
display: block;
margin-top:8px;
margin-bottom: 0;
padding-top: 0px;
padding-left: 25px;
padding-right:25px;
text-align: left;
font-size: 15px;
color: #3b5c44;
}

.tag{
text-align: left;
display:block;
width:fit-content;
margin-top:5px;
margin-bottom:0;
text-align: center;
font-weight:bold;
font-size: 15px;
background-color: #3b5c44;
color: seashell;
border-radius: 15px;
padding:5px 15px;
}

.Store1 img{
display:block;
object-fit:cover;
width:100%;
Height:250px;
/*margin-top:8px;
margin-bottom: 5px;*/
}  

.Store2 img{
display:block;
object-fit:cover;
width:100%;
Height:250px;
/*margin-top:8px;
margin-bottom: 5px;*/
}   

.Store3 img{
display:block;    
object-fit:cover;
width:100%;
Height:250px;
/*margin-top:8px;
margin-bottom: 5px;*/
}   

.stores-container ul{
    list-style: square;
   text-align: left;
    font-size:15px;
padding:-20px}

.stalls{
    gap:0;
    width: 100%;
    background-color: #3b5c44;
min-height: 100vh;}

.stalls h2{
    text-align: center;
    font-size: 45px;
    color: seashell;
    position: relative;
    z-index: -1;}
    

.stores-container{
background-color: #3b5c44;
max-width: 1311px;
height:100%;
margin:auto;
Padding:20px;
gap:0;
min-height: 100vh;}

.stalls h1, .stalls h2, p{
   margin:0;

}
