body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:beige;
    margin:0 ;
    padding:0 ;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background-color: #3b5c44;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgb(46, 84, 46);
}

.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.navlinks{
    list-style: none;
    display: flex;
    gap: 36px;
}

.navlinks a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    transition: color 0.2s;
}
.navlinks a:hover{
    color: black;
}

/* headings */
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#ccc;
}

/* forms container*/
form{
    background:#2e7d32;
    padding: 20px;
    margin:30px auto;
    width:320px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* label */
label{
    font-weight: bold;
    color: #333;
}

/* inputs */
input, textarea{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* button*/
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ccc;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.main-title{
    font-size: 30px;
}